config EZOS_KV_ENABLE
    bool "Enable ez-os interface kv"
    default y

config EZOS_LIBC_ENABLE
    bool "Enable ez-os interface libc"
    default y

config EZOS_MEM_ENABLE
    bool "Enable ez-os interface memory"
    default y

config EZOS_SOCKET_ENABLE
    bool "Enable ez-os interface socket"
    default y

config EZOS_SYSTEM_ENABLE
    bool "Enable ez-os interface system"
    default y

config EZOS_THREAD_ENABLE
    bool "Enable ez-os interface thread"
    default y

config EZOS_TIME_ENABLE
    bool "Enable ez-os interface time"
    default y