
mainmenu "EZOS Kconfig configuration"

menu "Toolchain configuration"
    config TOOLCHAIN_PATH
        string "toolchain path"
        default ""

    config TOOLCHAIN_PREFIX
        string "toolchain prefix"
        default ""
endmenu

menu "Ez-iot configuration"
    osource "${EZOS_PATH}/eziot/ez_iot_core/Kconfig"
    osource "${EZOS_PATH}/eziot/ez_iot_bm/Kconfig"
endmenu

menu "Ez-os bsp configuration"
    osource "${PROJECT_PATH}/Kconfig"
endmenu

menu "Components configuration"
    osource "${EZOS_PATH}/components/*/Kconfig"
endmenu

menu "Unit-Test configuration"
    osource "${EZOS_PATH}/unit_test/Kconfig"
endmenu