
mainmenu "EZOS Kconfig configuration"

menu "Toolchain configuration"
    config TOOLCHAIN_PATH
        string "toolchain path"
        default ""

    config TOOLCHAIN_PREFIX
        string "toolchain prefix"
        default ""
endmenu

menu "Ez-iot-sdk configuration"
    osource "${EZOS_PATH}/eziot/core/Kconfig"
    osource "${EZOS_PATH}/eziot/link/Kconfig"
    osource "${EZOS_PATH}/eziot/extensions/*/Kconfig"
    osource "${PROJECT_PATH}/*/Kconfig"
endmenu

menu "Components configuration"
    osource "${EZOS_PATH}/components/*/Kconfig"
endmenu