
mainmenu "Ezviz Cloud IoT OS configuration"

menu "toolchain configuration"
    config TOOLCHAIN_PATH
        string "toolchain path"
        default ""

    config TOOLCHAIN_PREFIX
        string "toolchain prefix"
        default ""

    config ADD_PRIVATE_CFLAGS
        string "compile cflags"
        default ""

    config ADD_PRIVATE_CXXFLAGS
        string "compile cxxflags"
        default ""

    config ADD_PRIVATE_LINK_CFLAGS
        string "link/ld cflags"
        default ""

    config ADD_PRIVATE_LINK_CXXFLAGS
        string "link/ld cxxflags"
        default ""
endmenu

menu "ez-iot configuration"
    osource "${EZOS_PATH}/eziot/ez_iot_core/Kconfig"
    osource "${EZOS_PATH}/eziot/ez_iot_bm/Kconfig"
endmenu

menu "os/bsp configuration"
    source "${EZOS_PATH}/platform/bsp/${PROJECT_NAME}/ezos/Kconfig"
endmenu

menu "components configuration"
    osource "${EZOS_PATH}/components/*/Kconfig"
endmenu

menu "unit-test configuration"
    osource "${EZOS_PATH}/unit_test/Kconfig"
endmenu

if $(EXAMPLE_ENABLE)=1
    menu "examples configuration"
        source "${EZOS_PATH}/examples/main/${PROJECT_NAME}/Kconfig"
    endmenu

endif
