menu "Component easylogger configuration"
    config EZIOT_COMPONENT_ELOG_ENABLE
        bool "Enable easylogger component"
        default y

    config EZIOT_COMPONENT_ELOG_OUTPUT_ENABLE
        bool "Enable log output"
        default y
        depends on EZIOT_COMPONENT_ELOG_ENABLE

    config EZIOT_COMPONENT_ELOG_ASSERT_ENABLE
        bool "Enable assert check"
        default n
        depends on EZIOT_COMPONENT_ELOG_ENABLE

    config EZIOT_COMPONENT_ELOG_LINE_BUF_SIZE
        int "Buffer size for every line's log"
        range 512 16384
        default 1024
        depends on EZIOT_COMPONENT_ELOG_ENABLE

    config EZIOT_COMPONENT_ELOG_LINE_NUM_MAX_LEN
        int "Output line number max length"
        default 5
        depends on EZIOT_COMPONENT_ELOG_ENABLE

    config EZIOT_COMPONENT_ELOG_FILTER_TAG_MAX_LEN
        int "Output filter's tag max length"
        default 16
        depends on EZIOT_COMPONENT_ELOG_ENABLE

    config EZIOT_COMPONENT_ELOG_FILTER_KW_MAX_LEN
        int "Output filter's keyword max length"
        default 16
        depends on EZIOT_COMPONENT_ELOG_ENABLE

    config EZIOT_COMPONENT_ELOG_FILTER_TAG_LVL_MAX_NUM
        int "Output filter's tag level max num"
        range 0 5
        default 5
        depends on EZIOT_COMPONENT_ELOG_ENABLE

    config EZIOT_COMPONENT_ELOG_NEWLINE_SIGN
        string "Output newline sign"
        default "\n"
        depends on EZIOT_COMPONENT_ELOG_ENABLE

    config EZIOT_COMPONENT_ELOG_COLOR_ENABLE
        bool "Enable log color"
        default y
        depends on EZIOT_COMPONENT_ELOG_ENABLE

    config EZIOT_COMPONENT_ELOG_ASYNC_OUTPUT_ENABLE
        bool "Enable asynchronous output mode"
        default n
        depends on EZIOT_COMPONENT_ELOG_ENABLE

    config EZIOT_COMPONENT_ELOG_ASYNC_LINE_OUTPUT
        bool "Each asynchronous output's log which must end with newline sign"
        default y
        depends on EZIOT_COMPONENT_ELOG_ENABLE && EZIOT_COMPONENT_ELOG_ASYNC_OUTPUT_ENABLE

    config EZIOT_COMPONENT_ELOG_ASYNC_OUTPUT_USING_PTHREAD
        bool "Asynchronous output mode using POSIX pthread implementation"
        default y
        depends on EZIOT_COMPONENT_ELOG_ENABLE && EZIOT_COMPONENT_ELOG_ASYNC_OUTPUT_ENABLE

    config EZIOT_COMPONENT_ELOG_BUF_OUTPUT_ENABLE
        bool "Enable buffered output mode"
        default n
        depends on EZIOT_COMPONENT_ELOG_ENABLE

endmenu